@inject Microsoft.Extensions.Localization.IStringLocalizer Localizer

@model ErrorViewModel
@{
    var error = Model?.Error?.Error;
    var returnUrl = Model?.Error?.RedirectUri;
}
<div class="fixed-content-width">
    <div class="panel-body">@if (string.IsNullOrEmpty(error)){<div class="alert alert-danger"><p>@Localizer["GL_ERROR_L"]</p></div>}
        else
        {
            if (Model.IsWarning)
            {
                <div class="alert alert-warning"><p>@error</p></div>
            }
            else
            {
                <div class="alert alert-danger"><p>@error @if (returnUrl != null){<a class="PostLogoutRedirectUri" href="@returnUrl">Обратно</a>}</p></div>
            }
        }
    </div>
</div>