@inject Microsoft.Extensions.Localization.IStringLocalizer Localizer

@{
    string message = (string)ViewData["message"];
    string returnUrl = (string)ViewData["returnUrl"];

    Dictionary<string, string> returnUrlRouteData = null;

    if (!string.IsNullOrEmpty(returnUrl))
    {
        returnUrlRouteData = new Dictionary<string, string>()
        {
            { "ReturnUrl", returnUrl }
        };
    }

}
<div class="page-header-wrapper section-wrapper section-wrapper--margin-top fixed-content-width"></div>
<div class="alert alert-warning" role="alert">
    <p>@message@if (!string.IsNullOrEmpty(returnUrl)){@Html.Raw(" ")<a class="alert-link" asp-controller="Account" asp-action="Login" asp-all-route-data="returnUrlRouteData"><b>@Localizer["GL_BACK_I"]</b></a>}</p>
</div>
