@inject Microsoft.Extensions.Localization.IStringLocalizer Localizer

@{
    string returnUrl = (string)ViewData["returnUrl"];

    Dictionary<string, string> returnUrlRouteData = null;

    if (!string.IsNullOrEmpty(returnUrl))
    {
        returnUrlRouteData = new Dictionary<string, string>()
{
            { "ReturnUrl", returnUrl }
        };
    }

}
<div class="page-header-wrapper section-wrapper section-wrapper--margin-top fixed-content-width"></div>
<div class="main-wrapper section-wrapper section-wrapper--margins fixed-content-width">
    <div class="fixed-content-width">
        <div class="alert alert-warning" role="alert"><p>@Html.Raw(@Localizer["GL_USR_REFUSE_ACCESS_L"] + ".")@{ if (!string.IsNullOrEmpty(returnUrl)){ <a asp-controller="Account" asp-action="Login" asp-all-route-data="returnUrlRouteData" class="alert-link font-weight-bold">@Localizer["GL_BACK_HOME_PAGE_I"]</a> } }</p></div>
    </div>
</div>