/* ----  Print  ---- */
*, ::before, ::after {
  box-sizing: border-box; }

body {
  margin: 0; }

.digital-stamp {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3125rem;
  font-family: Roboto, Arial, "Segoe UI", "Helvetica Neue", Verdana, sans-serif;
  border: 0.1875rem solid #a0cade;
  border-radius: 0.625rem; }
  .digital-stamp .digital-stamp-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 0.125rem solid #80b8d3;
    border-radius: 0.375rem;
    text-align: left; }
  .digital-stamp .digital-stamp-name {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem; }
  .digital-stamp .digital-stamp-data {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 0.3125rem 0.625rem 0.3125rem 0.3125rem; }
  .digital-stamp .digital-stamp-name-text {
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1;
    max-width: 9rem;
    word-wrap: break-word; }
  .digital-stamp .digital-stamp-data-text {
    font-size: 0.625rem;
    line-height: 1;
    max-width: 6rem;
    word-wrap: break-word; }

.flex-container {
  padding-right: 0.625rem;
  padding-left: 0.625rem; }

.row-table .flex-col-auto,
.row-table .flex-col,
.row-table .flex-col-1,
.row-table .flex-col-2,
.row-table .flex-col-3,
.row-table .flex-col-4,
.row-table .flex-col-5,
.row-table .flex-col-6,
.row-table .flex-col-7,
.row-table .flex-col-8,
.row-table .flex-col-9,
.row-table .flex-col-10,
.row-table .flex-col-11,
.row-table .flex-col-12 {
  padding: 0  0.3125rem 0.625rem 0.3125rem; }

.row-table + .row-table {
  margin-top: 0.75rem; }

.flex-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-right: -0.3125rem;
  margin-left: -0.3125rem; }

.flex-col-auto,
.flex-col,
.flex-col-1,
.flex-col-2,
.flex-col-3,
.flex-col-4,
.flex-col-5,
.flex-col-6,
.flex-col-7,
.flex-col-8,
.flex-col-9,
.flex-col-10,
.flex-col-11,
.flex-col-12 {
  position: relative;
  display: block;
  width: 100%;
  padding-right: 0.3125rem;
  padding-left: 0.3125rem; }

.flex-col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.flex-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.flex-col-1 {
  -ms-flex: 0 0 8.33%;
  flex: 0 0 8.33%;
  max-width: 8.33%; }

.flex-col-2 {
  -ms-flex: 0 0 16.66%;
  flex: 0 0 16.66%;
  max-width: 16.66%; }

.flex-col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.flex-col-4 {
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%; }

.flex-col-5 {
  -ms-flex: 0 0 41.66%;
  flex: 0 0 41.66%;
  max-width: 41.66%; }

.flex-col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.flex-col-7 {
  -ms-flex: 0 0 58.33%;
  flex: 0 0 58.33%;
  max-width: 58.33%; }

.flex-col-8 {
  -ms-flex: 0 0 66.66%;
  flex: 0 0 66.66%;
  max-width: 66.66%; }

.flex-col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.flex-col-10 {
  -ms-flex: 0 0 83.33%;
  flex: 0 0 83.33%;
  max-width: 83.33%; }

.flex-col-11 {
  -ms-flex: 0 0 91.66%;
  flex: 0 0 91.66%;
  max-width: 91.66%; }

.flex-col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.flex-items-center {
  -ms-flex-align: center;
  align-items: center; }

.print-document {
  width: 720px;
  margin: 0 auto;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px; }
  .print-document .document-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 1.875em 0 0.875em 0; }
    .print-document .document-title + .document-subtitle {
      margin: -.875em 0 1.25em 0; }
  .print-document .document-subtitle {
    font-size: 1.125em;
    font-weight: bold; }
  .print-document .document-section {
    margin-bottom: 1rem; }
    .print-document .document-section:not(:last-child) {
      margin-bottom: 2rem; }
    .print-document .document-section .section-title {
      font-size: 1.125em;
      font-weight: bold;
      margin-bottom: 0.625em; }
    .print-document .document-section .section-line {
      padding-bottom: 0.625em;
      border-bottom: 1px solid gray; }
    .print-document .document-section .document-section:not(:last-child) {
      margin-bottom: 1rem; }
    .print-document .document-section .document-section .section-title {
      font-size: 1.125em;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 0.5em; }
    .print-document .document-section .document-section .document-section .section-title {
      font-size: 1em;
      font-weight: bold;
      font-style: normal;
      margin-bottom: 0.5em; }
  .print-document .document-note {
    font-size: .85em;
    font-style: italic; }
  .print-document b {
    font-weight: bold; }
  .print-document p {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; }
  .print-document .table-margins {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem; }
  .print-document .text-lead {
    font-size: 1.125em;
    font-weight: bold; }
  .print-document .text-uppercase {
    text-transform: uppercase !important; }
  .print-document .text-bold {
    font-weight: bold !important; }
  .print-document .text-center {
    text-align: center !important; }
  .print-document .text-left {
    text-align: left !important; }
  .print-document .text-right {
    text-align: right !important; }
  .print-document .text-justify {
    text-align: justify !important; }
  .print-document .text-indent {
    text-indent: 1.5em !important; }
  .print-document .text-underline {
    text-decoration: underline; }
  .print-document .list-unstyled {
    list-style: none;
    padding-left: 1.5em; }
  .print-document .text-number {
    padding: 0.125rem 0;
    max-width: 4em;
    min-width: 3em; }
  .print-document ol,
  .print-document ul {
    padding-left: 2.5em;
    margin-top: 0.625em;
    margin-bottom: 0.625em; }
  .print-document li {
    margin-bottom: 0.3125rem; }
  .print-document .list-field > li {
    margin-bottom: 0; }
  .print-document .list-field > li:not(:last-child) {
    border-bottom: 1px dotted gray;
    padding-bottom: 0.3125em;
    margin-bottom: 0.625em; }
  .print-document .list-counter {
    padding-left: 0;
    position: relative;
    list-style: none;
    counter-reset: list-counter; }
    .print-document .list-counter > li:not(:only-child) {
      padding-left: 2em;
      counter-increment: list-counter; }
      .print-document .list-counter > li:not(:only-child)::before {
        content: counter(list-counter) ".";
        position: absolute;
        left: 0; }
  .print-document hr {
    border: none;
    border-bottom: 2px solid gray; }
  .print-document .table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-indent: 0; }
    .print-document .table th {
      text-align: left; }
    .print-document .table td, .print-document .table th {
      vertical-align: top;
      padding: 0.3125rem 0.3125rem; }
  .print-document .table-borderless {
    border: none; }
    .print-document .table-borderless td, .print-document .table-borderless th {
      border: none;
      padding: 0  0.625rem 0.625rem 0; }
  .print-document .photo {
    border: 1px solid gray;
    max-width: 130px;
    max-height: 160px; }

@media print {
  .print-document {
    width: 100%; } }

/* ----  /Print  ---- */
