/* ----  General-Message-Wrapper  ---- */

.general-message-wrapper{
	
	height: 100%;	
	
	background-color: $body-base-color;
	padding: $padding-base-horizontal * 2 $padding-base-horizontal $padding-base-horizontal $padding-base-horizontal;

}

/* ----  /General-Message-Wrapper  ---- */