/* ----  Navbar-Top  ---- */

.navbar-top {
	background-color: $white;
	padding: $template-container-padding-vertical $template-container-padding-horizontal;
	// border-top: 1px solid $gray-300;
	border-bottom: 1px solid $gray-300;
	
	.navbar-minimalize{
		cursor: pointer;
		
		i {
			width: 1.5rem;
			height: 1.5rem;			
		}
	}
	
	.user-profile {
		white-space: nowrap;
		vertical-align: middle;
		// margin-right: $template-container-margin-horizontal;
		
		.ui-icon-user {
			margin-right: $template-container-margin-horizontal;
		}
	} 

	// .user-profile:hover {
	// 	.ui-icon-user {					
	// 		background-image: url('../images/icons/btn/user-circle-hover.svg');			
	// 	}
	// }
	
	
	.navbar-top-icon,
	.system-button .navbar-top-icon
	{
		width: 1.25rem;
		height: 1.25rem;
	}
	
	// .system-button {
	// 	margin-left: $template-container-margin-horizontal;
	// }
	
	.horizontal-divider {
		display: inline-block;
		border-left: 1px solid $gray-300;
		min-height: 1.5rem;	
		margin: 0 $template-container-margin-horizontal *1.5;
		vertical-align: middle;
	}

	
}

/* ----  /Navbar-Top  ---- */