// ----  Style Mixins  ----

@mixin brand-gradient(){	
	@include gradient-y(#7a98bd, #4a6484); 
}


// Spinning   
@mixin spin {
	// -webkit-animation: spin 1s infinite steps(8);
	animation: spin 1s infinite steps(8);
}
  
//   @-webkit-keyframes spin {
// 	0% {
// 	  -webkit-transform: rotate(0deg);
// 			  transform: rotate(0deg);
// 	}
// 	100% {
// 	  -webkit-transform: rotate(360eg);
// 			  transform: rotate(360deg);
// 	}
//   }
  
  @keyframes spin {
	0% {
	//   -webkit-transform: rotate(0deg);
			  transform: rotate(0deg);
	}
	100% {
	//   -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }