
$padding-base-horizontal: 0.625rem;
$padding-base-vertical: $padding-base-horizontal /2;

$template-container-padding-horizontal: $padding-base-horizontal;
$template-container-padding-vertical: $padding-base-vertical * 2;

$template-container-margin-horizontal: $padding-base-horizontal;
$template-container-margin-vertical: $padding-base-vertical * 2;

$body-base-color: #ebebeb;

