/* ----  CNsys UI Icons ---- */


$icons-path: (
	// navigation-icons:	'../images/icons/nav/',
	button-icons: 		'../images/icons/btn/',
	state-icons: 		'../images/icons/stat/'
);

$icons: (

	// navigation-icons: (
	// 	about: 		'about.svg',
	// 	book: 		'book.svg',
	// 	comments: 	'comments.svg',
	// 	config:		'config.svg',
	// 	documents: 	'documents.svg',
	// 	home: 		'home.svg',
	// 	links: 		'link.svg',
	// 	services: 	'services.svg'
	// ),


	button-icons: (
		menu: 			'bars.svg',
		calendar:		'calendar-alt.svg',
		clock: 			'clock.svg',
		search: 		'search.svg',
		search-alt: 	'search-alt.svg',
		download: 		'download.svg',
		download-color:	'download.svg',
		upload: 		'upload.svg',
		user: 			'user-circle.svg',
		help:	 		'question-circle.svg',
		chevron-down:	'chevron-down.svg',
		chevron-down-alt:'chevron-down-alt.svg',
		chevron-left:	'chevron-left.svg',
		chevron-right:	'chevron-right.svg',
		chevron-up:		'chevron-up.svg',
		eye:			'eye.svg',
		ban:			'ban.svg',
		warning:		'exclamation-triangle.svg',
		copy:			'copy.svg',
		clipboard:		'clipboard.svg',
		sort:			'sort.svg',
		sort-up:		'sort-up.svg',
		sort-down:		'sort-down.svg',
		trash:			'trash.svg',
		edit:			'edit.svg',
		edit-alt:		'edit_alt.svg',
		edit-color:		'edit_color.svg',
		edit-white:		'edit_white.svg',
		redo:			'redo.svg',
		plus:			'plus.svg',
		plus-white:		'plus-white.svg',
		times:			'times.svg',
		times-alt:		'times-alt.svg',
		erasure:		'erasure.svg',
		erasure-uncheck:'erasure_uncheck_old.svg',
		erasure-check:	'erasure_check_old.svg',
		import:			'import.svg',
		check-square:	'check-square.svg',
		check:			'check.svg',
		activate:		'activate.svg',
		deactivate:		'deactivate.svg',
		hand:			'hand-pointer.svg',
		comments:		'comments.svg',
		comment:		'comment-dots.svg',
		document:		'file-alt.svg',
		book:			'book.svg',
		folder:			'folder.svg',
		pay:			'payment.svg',
		pay-cancel:		'payment-cancel-white.svg',
		folder-plus:	'folder-plus.svg',
		history:		'history.svg',
		unlink:			'unlink.svg',
		unlink-white:	'unlink-white.svg',
		link:			'link.svg',
		link-white:		'link-white.svg',

		font-size: 		'font-size.svg',
		font-size-plus: 'font-size-plus.svg',
		font-size-minus:'font-size-minus.svg'
	),

	state-icons: (
		canceled: 	'ban.svg',
		processed: 	'check-circle.svg',
		waiting: 	'exclamation-circle.svg',
		error: 		'minus-circle.svg',
		erased:		'times-circle.svg',
		loading:	'spinner.svg',

		state-active:	'active.svg',
		state-inactive:	'inactive.svg',
		state-waiting:	'waiting.svg',
		state-canceled:	'canceled.svg'
	)

);


@each $icons-list-name, $icons-list in $icons {

	$path: map-get($icons-path, $icons-list-name);
	@each $icon-name, $icon-file in $icons-list {

		.ui-icon-#{$icon-name} {
			background-image: url('#{$path}#{$icon-file}');
		}

	}

}

.ui-icon {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 1rem;
	height: 1rem;
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: middle;

	&.rotate-90 {
		transform: rotate(90deg);
	}

	&.rotate-180 {
		transform: rotate(180deg);
	}

	&.rotate-270 {
		transform: rotate(270deg);
	}
}

.ui-icon-spin {
	@include spin();
}

/* ----  /CNsys UI Icons ---- */