/* ----  Application  ---- */

legend {
    padding: 0;
    margin: 0;

    &+.alert {
        margin-top: 0;
    }
}


.field-text {
    font-size: 0.875rem;
    line-height: 1.35;
    margin: 0;    
    word-wrap: break-word;
}

.letter-text {
    font-size: 1rem;
    line-height: $line-height-base;
    margin: 0;    
    word-wrap: break-word;
    text-indent: 1rem;
}


.interactive-container {
    position: relative;
    border-radius: $border-radius;

    @include make-row();

    padding-top: $template-padding-vertical;
}

    .interactive-container--selected {
        background-color: $gray-200;
    }

    .interactive-container--focus {
        background-color: $gray-100;
    }


.interactive-container__content {
    @include make-col-ready();
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    min-width: 1px;  
}

.interactive-container__controls {
    @include make-col-ready();
    flex: 0 0 $template-padding-horizontal * 8.5;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;

    .btn:not(:last-of-type) {
        margin-right: $template-padding-horizontal;
    }

    @include media-breakpoint-down(xs) {
        flex: 0 0 $template-padding-horizontal * 4;

        flex-direction: column-reverse;
        align-content: flex-end;
        align-items: flex-end;

        .btn:not(:last-of-type) {
            margin-right: 0;
        }
        
        .btn {
            margin-bottom: $template-padding-vertical;
        }
    }  
    
}

.interactive-container__loading {
    flex: 0 0 2.5rem; //40px
    margin-left: $template-padding-horizontal;
    margin-bottom: $template-padding-horizontal;
    align-self: center;

    &::before {
        content: '';
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("../images/icons/stat/spinner.svg");

        @include spin;
    }
    
}


.interactive-container__content > .alert:first-child {
    margin-top: 0;
}

.hr--doted-line { 
    width: 100%;
    padding: 0;
    margin: $template-padding-vertical 0 $template-padding-vertical 0;
    border: none;
    border-top: 4px dotted $gray-300;
}



.form-control-label {   // label на inputi-те
    color: $gray-900;
    font-size: 0.875rem;
    line-height: $line-height-base;
    font-weight: bold;
    margin: 0 0 0.3125rem 0;
    padding: 0;

}

// ----------------------------------------
h3.field-title-service {  
    color: $primary;    
}

.ui-form {

    .section-title {
        font-size: 1.375rem;
        line-height: 1.3;
        font-weight: bold;
        font-style: italic;
        color: $primary-dark;
        border-bottom: 1px solid $gray-400;
        
        margin-top: 0;
        margin-bottom: $template-padding-vertical;        
        padding: $template-padding-vertical 0;

        &.section-title--report {
            border-bottom-width: 2px;
        }
    }

    .fields-group {  // за групиране на input-и

        &:not(:last-of-type) {
            border-bottom: 1px solid $gray-200;
            padding-bottom: $template-padding-vertical;
            margin-bottom: $template-padding-vertical;
        }

        &.fields-group--no-border {
            border-bottom: none;
        }
    
        .field-title {  // етикет на поле
            display: inline-block;
            font-size: 1.1875rem;
            line-height: 1.2;
            font-weight: bold;
            color: $primary;
            
            margin: $template-padding-vertical 0;
            padding: 0;
        }

        .fields-group  {     // за групиране вътре в друг .fields-group
            &:not(:last-of-type) {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            
            .field-title {
                font-size: 1.0625rem;
                line-height: 1.3;
                font-weight: bold;
                color: $gray-900;
                
                margin: $template-padding-vertical 0 $template-padding-vertical  0;
                padding: 0;
            }

            .fields-group  {     // за групиране вътре в друг .fields-group
                &:not(:last-of-type) {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                
                .field-title {
                    font-size: 0.875rem;
                    line-height: 1.3;
                    font-weight: bold;
                    color: $gray-900;
                    
                    margin: 0 0 $template-padding-vertical /2  0;
                    padding: 0;
        
                }
            }

        }

    }


    input[type='radio'] + .label,
    input[type='checkbox'] + .label {
        font-weight: normal;
        margin-bottom: 0;
    }


    .list-filed {
        list-style: none;
        padding: 0;
        margin: 0;
        .list-filed__item:not(:first-child) {
            @extend .hr--doted-line;
            margin-bottom: 0;
            padding: $template-padding-vertical 0 0 0;            
        }

    }

    .list-fileds-group {
        padding-left: $template-padding-horizontal * 2;
        margin-bottom: $template-margin-vertical;
        border-left: $border-width solid $gray-300;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        &::before,
        &::after {
            content: '';
            display: block;
            height: $border-radius;
            margin-left: -$template-margin-horizontal * 2;
            width: $template-padding-horizontal ;  
        }
        &::before {
            border-top: $border-width solid $gray-300;
            border-top-left-radius: $border-radius;
        }
        &::after {
            border-bottom: $border-width solid $gray-300;
            border-bottom-left-radius: $border-radius;
        }
    }

}

    .ui-form--input {

    }

    .ui-form--preview {

        .section-title {
            font-size: 1.25rem;
            margin: 0 0 .5rem 0;
            padding: 0 0 $template-padding-vertical 0;
        }

        .fields-group {

            &:not(:last-of-type) {
                padding-bottom: $template-padding-vertical *.5;
                margin-bottom: $template-padding-vertical *.5;
            }

            .field-title { 
                font-size: 1.125rem;
                margin: 0.5rem 0;
            }

            .fields-group {

                .field-title { 
                    font-size: 1rem;
                }
            }

            .form-control-label {
                margin-bottom: 0.125rem;
            }

            .form-group {
                margin-bottom: 0.625rem;
            }
        }

        .interactive-container {
            &:not(:first-of-type) {
                margin-top: $template-padding-vertical;
            }
        }

        .interactive-container__controls {
            flex-basis: $template-padding-horizontal * 4;
        }


        .hr--doted-line { 
            border-width: 0.125rem;
        }

        .list-filed {
            list-style: none;
            padding: 0;
            margin: 0;

            .list-filed__item {
                margin: 0;
                .list-filed__item:not(:first-child) {
                    border-top-width: 1px;
                }
            }

            .list-filed__item:not(:first-child) {
                border-width: 2px;
                margin: 0;
            }            
        }

        .list-fileds-group {
            padding-left: $template-padding-horizontal;
            
            &::before,
            &::after {
                margin-left: -$template-margin-horizontal;
                width: $template-padding-horizontal /2;  
            }
            &::before {
                padding-top: $template-margin-vertical;
            }
        }
    
    }



.form-control-box {
    display: block;
    width: 100%;    
    padding: $input-padding-y $input-padding-x;    
    color: $input-color;
    background-color: $input-bg;
    background-clip: padding-box;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    @include box-shadow($input-box-shadow);
}

.checkbox-columns {
    column-count: 5;
    column-gap: 2rem;
    column-fill: balance;
    
    @include media-breakpoint-down(md) {
        column-count: 4;
    }
    
    @include media-breakpoint-down(sm) {
        column-count: 3;
    }
    
    @include media-breakpoint-down(xs) {
        column-count: 2;
    }
    .custom-control{
        break-inside: avoid-column;
    }

    .custom-radio + .custom-radio, .custom-checkbox + .custom-checkbox {
        margin-top: 0;
    }
    .custom-radio, .custom-checkbox {
        margin-bottom: 0.3125rem;
    }
}

.document-template {
    color: $gray-800;
    margin: $template-margin-vertical *3 $template-margin-horizontal *3;    

    h1, .h1, h2, .h2, h3, .h3 , h4, .h4, h5, .h5, h6, .h6 {
        color: $gray-800;
    }

    .form-control {
        display: inline-block;
        margin-bottom: $template-margin-vertical;


        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        border: none;
        border-bottom: 2px dotted $gray-400;
        width: auto;
        font-size: 1.0625rem;
    }

    @include media-breakpoint-down(xs) {
        .form-control {
            width: 90%;
        }
        margin:  $template-margin-vertical 0;    
    }

    .form-control:focus {        
        border-color: $gray-800;
        border-color: $input-focus-border-color;
        background-color: transparentize($input-btn-focus-color, 0.2);

        box-shadow: none;
    }

}

/* ----  /Application  ---- */