/* ----  Autocomplete Combobox  ---- */


// React component styles

.auto-complete-container {
    display: block;
    position: relative;

    .btn-clear {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border: none;
        background-color: transparent;
        padding: 0 $input-padding-x;

        width: 0.625rem;
        background-image: url('../images/icons/btn/times.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 0.625rem;
    }

    &.show-btn-clear {
        
        input {
            padding-right: calc( #{$input-padding-x} + 0.625rem);
            &::-ms-clear {
                display: none;
            }
        }

        .btn-clear {
            display: block;
        }
    }
    


}

.auto-complete-options {
    @extend .dropdown-menu;
    display: block;
    width: 100%;
    padding: 0;
    list-style-type: none;
    overflow-x: auto;
    max-height: 10rem;

    & > li {
        padding: .3rem .6rem;
        margin-bottom: 0;
    }

}

.auto-complete-active-option {

    color: $dropdown-link-active-color;
    @include gradient-bg($dropdown-link-active-bg);
}



/* ----  /Autocomplete Combobox  ---- */