/* ----  Nav  ---- */
	
.nav-tabs {	

	display: flex;
	flex-flow: row;
	flex-wrap: wrap;


	margin-top:  $template-padding-vertical;	
	margin-bottom:  $template-padding-vertical * 2;	

	
	padding-left:  $template-padding-horizontal;
	padding-right:  $template-padding-horizontal;
	
	@include media-breakpoint-down(xs) {
		flex-flow: column;
		padding-left:  $template-padding-horizontal /2;
		padding-right:  $template-padding-horizontal /2;
	}

	.nav-item {
		margin-right: $border-width;		

		@include media-breakpoint-down(xs) {			
			&.active {
				order: 100;
			}
		}
	}

	.nav-link {	
		white-space: nowrap;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.125rem;
		line-height: 1.25;

		min-width: 8rem;

		padding: $template-padding-vertical $template-padding-horizontal * 1.5;


		@include media-breakpoint-down(xs) {
			width: 100%;
			text-align: left;
			white-space: normal;
			
			&:not(.active)  {
				border: none;
				margin-bottom: $border-width *2;
				border-radius: $btn-border-radius;
			}
		}

		border-color: $gray-200;
		background-color: $gray-200;
		border-bottom-color: $gray-300;

		&.disabled {
			border-color: $gray-100;
			background-color: $gray-100;
			border-bottom-color: $gray-300;
		}
		&:hover:not(.active) {
			border-color: $gray-300;
			background-color: $gray-300;
		}

	}

}	
	
/* ----  /Nav  ---- */