/* ----  Navbar-Top  ---- */

.navbar-top {	
	position: relative;
	z-index: $zindex-dropdown;
	
	background-color: $blue-dark;

	li {
		margin: 0;
	}
}

.navbar-top-container {
	
	display: flex;
	flex-wrap: wrap;
	padding: 0 $template-padding-horizontal /2;
		
	@include media-breakpoint-down(md) {
		padding: 0;
	}

}

.navbar-top-container-left,
.navbar-top-container-right {	
	z-index: 1;
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	list-style: none;		
	padding: 0;
	margin: 0;
}


// .navbar-top-container-left {
// 	li:first-child {
// 		.navbar-top-item {
// 			margin-left: 0;
// 		}
// 	}
// }

// .navbar-top-container-right {
// 	li:last-child {
// 		.navbar-top-item {
// 			margin-right: 0;
// 		}
// 	}
// }



.navbar-top-container--mobile {
	&.collapse:not(.show) {
		display: flex;
	}

	@include media-breakpoint-down(md) {
		order: 1;
		z-index: 0;
		flex: 1 1 100%;

		.navbar-top-container-left,
		.navbar-top-container-right {
			flex-direction: column;
			margin-bottom: $template-margin-horizontal;
			padding-top: $template-padding-vertical;
			border-top: 1px solid transparentize( $white, .6);

			.navbar-top-item {
				padding: $template-padding-vertical /2 $template-padding-horizontal;
				margin: 0 $template-margin-horizontal /2;
			}
		}

		&.collapse:not(.show) {
			display: none;
		}
	}

}


.navbar-top-item {
	flex: 0 0 auto;
	display: block;

	font-size: 1.125rem;
	text-decoration: none;
	outline: none;
	
	color: $white;

	padding: $template-padding-vertical *1.5 $template-padding-horizontal;

	margin: -$border-radius $template-margin-horizontal / 2;
	border-radius: $border-radius;

	.ui-icon {
		width: 1.375rem;
		height: 1.375rem;
	}

}
	button.navbar-top-item {
		background: none;
		border: none;
		outline: none;
	}

.navbar-top-item.active,
.navbar-top-item:active,
.navbar-top-item:focus,
.navbar-top-item:hover
{
	background-color:  $secondary;
	color: $gray-900;
}


.navbar-top-container .navbar-top-menu
 {
	z-index: 1;
	flex: 0 0 auto;

}



.navbar-top-text-limited {
	display: inline-block;
	vertical-align: middle; //-.3125rem;
	font-size: 1rem;	
	// white-space: nowrap;
	max-width: 11.25rem;
	overflow: hidden;
	text-overflow: ellipsis;


	.dropdown-menu & {
		font-size: 0.875rem;
	}
}

.navbar-top-font-size {
	.navbar-top-item {	

		button {
			background: none;
			border: none;
			// outline: none;
			padding: 0;
		}

		// &.active,
		// &:active,
		// &:focus,
		// &:hover
		// {
		// 	border-color:  transparent;	
		// }
	
		.ui-icon {
			margin-right: 0;
		}
	
	}

}



.navbar-top-subnav-close {
	flex: 1 1 auto;
	align-items: flex-end;	

	margin-right: $template-margin-horizontal;

	.close {
		font-size: $close-font-size * 1.3;
		padding: $template-padding-vertical /2 $template-padding-horizontal;
	}

	// background-color: brown;    

}


// генериране на класове за нормални и mouseover икони
$path: map-get($icons-path, 'nav-icons'); // дефинирани в _ui-icons.scss

@each $icon-name, $icon-file in $navigation-icons {

	.navbar-top-item {	

		.nav-icon-#{$icon-name} {
			background-image: url('#{$path}#{map-get($icon-file, "normal")}');
		}

		&.active,
		&:active,
		&:focus,
		&:hover
		{
			.nav-icon-#{$icon-name} {
				background-image: url('#{$path}#{map-get($icon-file, "hover")}');
			}
		}


	}

}


/* ----  /Navbar-Top  ---- */