$padding-base-horizontal: 0.625rem;
$padding-base-vertical: 0.625rem;

$template-padding-horizontal: $padding-base-horizontal;
$template-padding-vertical: $padding-base-vertical;

$template-margin-horizontal: $padding-base-horizontal;
$template-margin-vertical: $padding-base-vertical;

$body-base-color: $white;

// $template-page-max-width: 1170px;
// $template-page-max-width: 1290px;
$template-page-max-width: 1230px;

$navigation-box-shadow: 0 .5rem .5rem rgba($black, .15) !default;

// $template-base-color-1: #e65a0a;
// $template-base-color-2: #3168a5;
// $template-section-color-1: #f6f6f6;
// $template-section-color-2: #e6ebf5;
// $template-hotnews-color: #fff5ef;

